.card {
  min-height: 100%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.clock-container {
  position: relative;
  max-width: 150px;
  overflow: hidden;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
} 

.styling{
    border-radius: 50%;
    min-width: 125px;
    margin-top: 1%;
}

.styling::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.clock-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-numbers {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    z-index: 1;
}

.numbers {
      fill: grey;
}

.indicator {
    border-radius: 10px;
    transform-origin: bottom;
    outline: 1px solid transparent;
    position: absolute;
    bottom: 50%;
}

.seconds-indicator {
      width: 0.5%;
      height: 37.5%;
      z-index: 2;
}

.minutes-indicator {
      width: 1%;
      height: 30%;
      z-index: 3;
}


.hours-indicator {
      width: 1.5%;
      height: 22.5%;
      z-index: 4;
}

.indicator-cover {
    position: absolute;
    bottom: 48.5%; /*(50% - (3% /2)) */
    border-radius: 50%;
    width: 3%;
    height: 3%;
    background-color: lightgrey;
    z-index: 5;
}

.dateContainer {
  margin: 10px 0 0 0;
  align-items: 'center';
  justify-content: 'center';
}

.date {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  color: grey;
}



